#heading{
    color: black;
}
.newtopic{
    color: blueviolet;
}

#card{
    width: 300px; 
    border: 2px solid black; 
    text-align: left; 
    border-radius: 50px 0px 50px 0px;
   
}
img{
    width: 100%; 
    border-radius:50px 0px  0px 0px ;
}
.detail{
    padding-left: 10px;
    text-decoration: none;
}

a{ 
    color:blue; 
}

#container{
    display: grid;
    gap: 20px;
    /* grid-template-columns: 600px 300px 600px; */
    /* grid-template-rows: 500px 500px; */
    grid-template-columns: repeat(4, 2fr);
}