*{
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav .logo{
    margin-left: 50px;
    font-size: 30px;
    color: lightgreen;
    font-weight: 800;
}
nav .nav-links{

}
nav .nav-links ul{
    list-style-type: none;
    display: flex;
    gap: 50px;
}
nav .nav-links ul a{
    text-decoration: none;
}
nav .nav-links ul li .active{
    color: green;
}
nav .button{
    background-color: green;
    padding: 20px 20px 20px 20px;
    margin-top: 0px;
    padding-top: 0px;
}
nav .button>a{
    color: white;
    padding: 20px;
    margin-top: 20px;
    padding-top: 0px;
    text-decoration: none;
}
@media screen and (min-width:100px) and (max-width:480px){
    nav{
        display: grid;
        justify-content: space-between;
    }
}
.hero-image{
    position: relative;
    height: auto;
    box-sizing: border-box;
}
.hero-image .image-txt{
    position: absolute;
    top: 200px;
    left: 150px;
    color: white;
}
.hero-image .image-txt>h1{
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}
.hero-image .image-txt>p{
    line-height: 20pt;
}
.hero-image .image-txt>button{
    background-color: green;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    font-size: 16px;
    border: none;
}

.hcustomer{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: 80px;
    border-radius: 1px solid black;
}
.hcustomer .col-1{
    border-radius: 1px solid black;
}
.hcustomer .col-1 .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    background-color: green;
    position: relative;
}
.hcustomer .col-1 .icon>i{
    padding: 10px;
    color: white;
    position: absolute;
    left: 1px;
    top: 4px;
}
.hcustomer .col-1 .icon .fa-award{
    position: absolute;
    left: 4px;
    top: 1px;
}
.hcustomer .col-1 .icon>h1{
    padding-left: 50px;
    margin-top: 1px;
}
.hcustomer .col-1>p{
    color: #9B9B9B;
}
@media screen and (min-width:100px) and (max-width:480px){
    .hcustomer{
        display: block;
        margin: 30px;
    }
}

.aboutus{
    display: flex;
    margin-top: 80PX;
}
.aboutus img{
    float: left;
    width: 50%;
    height: 700px;
}
.aboutus .txt{
    align-content: center;
    margin: 50px 20px;
    padding: 80px 50px 50px 30px;
}
.aboutus .txt h5{
    color: green;
}
.aboutus .txt h1{
    font-size: 45px;
}
.aboutus .txt p{
    color: #9B9B9B;
    line-height: 20pt;
}
.aboutus .txt button{
    background-color: green;
    color: white;
    padding: 10px 30px ;
    border-radius: 30px;
    border: none;
    font-weight: 20px;
}
@media screen and (min-width:100px) and (max-width:480px){
    .aboutus{
        display: grid;
    }
    .aboutus img{
        width: 100%;
        height: 700px;
    }
    .aboutus .txt{
        align-content: center;
        margin: 20px;
        padding: 40px 50px 50px 30px;
    }

}

.ourservice{
    text-align: center;
    margin-top: 100px;
}
.ourservice h5{
    color: green;
}
.ourservice h2{
    font-weight: 600;
    font-size: 30px;
    margin-top: 0px;
}
.ourservice .row1{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 20px;
}
.ourservice .row1 .card{
    width: 400px; 
    height: 460px; 
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ourservice .row1 .card .card-image{
    width: 100%;
    height: 240px;
    border-radius: 10px 10px 0px 0px;
}
.ourservice .row1 .card .card-detail{
    text-align: left;
    margin-top: 20px;
    padding: 20px;
}
.ourservice .row1 .card .card-detail>p{
    color: #9B9B9B;
}
.ourservice .row1 .card .card-detail>a{
    text-decoration: none;
    color: green;
}
@media screen and (min-width:100px) and (max-width:480px){
    .ourservice{
        text-align: center;
        margin-top: 100px;
        padding: 10px;
    }
    .ourservice .row1{
        display: grid;
        gap: 50px;
        justify-content: center;
        margin-bottom: 20px;
    }
}

.freequote{
    display: flex;
    margin-top: 120px;
}
.freequote img{
    float: left;
    width: 80%;
    height: 600px;
}
.freequote .txt{
    align-content: center;
    margin: 10px 20px;
    padding: 30px 100px 50px 30px;
}
.freequote .txt h5{
    color: green;
}
.freequote .txt h3{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.freequote .txt p{
    color: #9B9B9B;
    line-height: 20pt;
}
.freequote .txt form{
    width: 400px;
    height: 550px;
    padding: 10px 10px 10px 0px ;
}
.freequote .txt form input{
    margin: 0px 20px 20px 0px;
    width: 250px;
    height: 35px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #F6F6F6;
    border: none; 
}
.freequote .txt form select{
    margin: 10px 20px 20px 0;
    width: 270px;
    height: 35px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #F6F6F6;  
    border: none; 
}
.freequote .txt form textarea{
    margin: 10px 20px 20px 0;
    width: 100%;
    height: 35px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #F6F6F6;  
    border: none; 
}
.freequote .txt form button{
    background-color: green;
    color: white;
    padding: 10px 30px ;
    border-radius: 30px;
    border: none;
    font-weight: 20px;
}
@media screen and (min-width:100px) and (max-width:480px){
    .freequote{
        display: grid;
    }
    .freequote img{
        width: 100%;
        height: 700px;
    }
    .freequote .txt{
        align-content: center;
        margin: 20px;
        padding: 40px 50px 50px 30px;
    }

}
