*{
    font-family: sans-serif;
}

nav{
    display: grid;
    grid-template-columns: 45% 40% 15%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1030;
    /* justify-content: space-between; */
}
nav .nav-icon{
    display: none;
}
nav .logo{
    color: lightgreen;
    font-size: 30px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 10px;
}
nav .nav-links ul{
    list-style-type: none;
    display: flex;
    gap: 33px;
    overflow: hidden;
}
nav .nav-links ul li{
    margin-top: 6px;
}
nav .nav-links ul a{
    text-decoration: none; 
}
nav .nav-links ul li .active{
    color: green;
}
nav .quote button{
    height: 60px;
    width: 165px;
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 50px;
    font-size: 16px;
}
@media screen and (min-width:100px) and (max-width:480px){   
    nav{
        display: block;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 60px;
        margin: 0px;
        padding: 0px;
        position: fixed;
        top: 0px;
        width: 100%;
    }
    nav .nav-links ul{
        display: none;
    }
    nav .quote button{
        display: none;
    }
    nav .nav-icon{
        display: grid;
        justify-content: right;
        color: black;
        font-size: 30px;
        font-weight: 900;
        position: relative;
        top: -30px;
        right: 20px;
    }
}

.hero-image{
    margin-top: 60px;
    position: relative;
    height: auto;
    box-sizing: border-box;
}
.hero-image img{
    width: 100%;
}
.hero-image .image-txt{
    position: absolute;
    top: 200px;
    left: 120px;
    color: white;
}
.hero-image .image-txt>h1{
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 60pt;
}
.hero-image .image-txt>p{
    line-height: 22pt;
    font-size: 18px;
    
}
.hero-image .image-txt>button{
    background-color: #32C36C;;
    color: white;
    padding: 20px 40px ;
    border-radius: 30px;
    border: none;
    margin: 5px 0px 5px 0px;
    font-weight: 500;
    font-size: 16px;   
}
.hero-image .circle1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-image: url("https://themewagon.github.io/solartec/img/carousel-1.jpg");
    background-position: bottom;
    position: absolute;
    right: 40px;
    top: 340px;
}
.hero-image .circle2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-image: url("https://themewagon.github.io/solartec/img/carousel-1.jpg");
    background-position: 70% 80%;
    position: absolute;
    right: 40px;
    top: 400px;
}
.hero-image .circle3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-image: url("https://themewagon.github.io/solartec/img/carousel-1.jpg");
    background-position: 80% 90%;
    position: absolute;
    right: 40px;
    top: 460px;
}
@media screen and (min-width:100px) and (max-width:480px){
    .hero-image{
        position: relative;
    }
    .hero-image img{
        width: 200%;
    }
    .hero-image .image-txt{
        /* position: absolute; */
        top: 150px;
        left: 60px;
    }
    .hero-image .image-txt>h1{
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 30pt;
    }
    .hero-image .image-txt>p{
        line-height: 11pt;
        font-size: 9px;
    }
    .hero-image .image-txt>button{
        padding: 10px 20px ;
        font-size: 8px;   
    }
    .hero-image .circle1{
        width: 25px;
        height: 25px;
        right: -440px;
        top: 200px;
    }
    .hero-image .circle2{
        width: 25px;
        height: 25px;
        right: -440px;
        top: 240px;
    }
    .hero-image .circle3{
        width: 25px;
        height: 25px;
        right: -440px;
        top: 280px;
    }
}

.hcustomer{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: 80px;
    padding: 50px;
}
.hcustomer .col-1{
    /* width: 300px; */
}
.hcustomer .col-1 .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    background-color: green;
    position: relative;
}
.hcustomer .col-1 .icon>i{
    padding: 10px;
    color: white;
    position: absolute;
    left: 1px;
    top: 4px;
}
.hcustomer .col-1 .icon .fa-award{
    position: absolute;
    left: 4px;
    top: 1px;
}
.hcustomer .col-1 .icon>h1{
    padding-left: 50px;
    margin-top: 1px;
}
.hcustomer .col-1>p{
    color: #9B9B9B;
}
@media screen and (min-width:100px) and (max-width:480px){
    .hcustomer{
        display: block;
        /* margin: 30px; */
        width: 100%;
        padding: 10px 10px;
        margin: 10px;
    }
    .hcustomer .col-1{
        width: 100%;
        margin-top: 50px;
    }
    .hcustomer .col-1 .icon{
        margin-bottom: 25px;
    }
    .hcustomer .col-1 h3{
        padding: 0px;
        margin: 0px 0px 10px 0px;
        font-size: 20px;
    }
    .hcustomer .col-1 p{
        padding: 0px;
        margin: 0px 0px 10px 0px;
        width: 90%;
    }
}

.aboutus{
    display: flex;
    margin-top: 80PX;
    background-color: #F6F6F6;
}
.aboutus img{
    float: left;
    width: 50%;
    height: 650px;
}
.aboutus .txt{
    width: 740px;
    height: 650px;
}
.aboutus .txt h4{
    color: green;
    padding: 10px 100px 10px 50px;
    margin-top: 100px;
    margin-bottom: 0px;
}
.aboutus .txt h2{
    font-size: 40px;
    padding: 10px 100px 10px 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.aboutus .txt p{
    line-height: 20pt;
    padding: 10px 100px 10px 50px;
    font-size: 16px;
    color: #9B9B9B;
    line-height: 20pt;
    margin-top: 0px;
    margin-bottom: 5px;
}
.aboutus .txt ul{
    list-style-type: none;
    padding-left: 60px;
    margin-top: 10px;
}
.aboutus .txt ul li{
    padding-left: 20px;
    line-height: 30pt;
    position: relative;
    color: #9B9B9B;
    font-size: 17px;
}
.aboutus .txt ul .circle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #32C36C;
    position: absolute;
    left: -10px;
    top: 10px;
}
.aboutus .txt ul .circle i{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 10px;
    color: white;
}
.aboutus .txt button{
    margin-left: 50px; 
    background-color: #32C36C;;
    color: white;
    padding: 20px 40px ;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}
@media screen and (min-width:100px) and (max-width:480px){
    .aboutus{
        display: grid;
    }
    .aboutus img{
        width: 100%;
        height: 400px;
        padding-left: 20px;
    }
    .aboutus .txt{
        width: 80%; 
        padding-top: 30px;
    }
    .aboutus .txt h4{
        margin-top: 10px;
        padding: 10px 20px;
    }
    .aboutus .txt h2{
        font-size: 25px;
        padding: 10px 20px;
        width: 100%;
    }
    .aboutus .txt p{
        padding: 10px 20px ;
        width: 100%;
    }
    .aboutus .txt ul{
        padding: 10px 0px 10px 30px ;
        margin-top: 10px;
    }
    .aboutus .txt ul li{
        font-size: 15px;
    }
    .aboutus .txt button{
        padding: 10px 20px ;
        margin: 15px;
    }

}

.ourservice{
    text-align: center;
    margin-top: 100px;
}
.ourservice h4{
    color: green;
}
.ourservice h2{
    font-weight: 600;
    font-size: 30px;
    margin-top: 0px;
}
.ourservice .row1{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 20px;
}
.ourservice .row1 .card{
    width: 400px; 
    height: 460px; 
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
.ourservice .row1 .card .card-image{
    width: 100%;
    height: 240px;
    border-radius: 10px 10px 0px 0px;
}
.ourservice .row1 .card .circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 205px;
    left: 20px;
}
.ourservice .row1 .card .circle:hover{
    background-color: green;
}
.ourservice .row1 .card .circle i{
    color: green;
    font-size: 45px;
    position: absolute;
    top: 15px;
    left: 9px;
}
.ourservice .row1 .card .circle i:hover{
    color: white;
}
.ourservice .row1 .card .circle .fa-lightbulb{
    color: green;
    font-size: 45px;
    position: absolute;
    top: 15px;
    left: 18px;
}
.ourservice .row1 .card .card-detail{
    text-align: left;
    margin-top: 20px;
    padding: 20px;
}
.ourservice .row1 .card .card-detail>p{
    color: #9B9B9B;
}
.ourservice .row1 .card .card-detail>a{
    text-decoration: none;
    color: green;
}
@media screen and (min-width:100px) and (max-width:480px){
    .ourservice{
        padding: 10px;
    }
    .ourservice .row1{
        display: grid;
        margin-left: 30px;
    }
}

.freequote{
    display: flex;
    margin-top: 80px;
    background-color: #F6F6F6;
}
.freequote img{
    float: left;
    width: 50%;
    height: 650px;
}
.freequote .txt{
    width: 740px;
    height: 650px;
}
.freequote .txt h4{
    color: green;
    padding: 10px 100px 10px 50px;
    margin-top: 100px;
    margin-bottom: 0px;
}
.freequote .txt h2{
    font-size: 35px;
    padding: 10px 100px 10px 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.freequote .txt p{
    padding: 10px 100px 10px 50px;
    font-size: 16px;
    color: #9B9B9B;
    line-height: 20pt;
    margin-top: 0px;
    margin-bottom: 5px;
}
.freequote .txt form{
    width: 570px;
    /* height: 550px; */
    padding: 10px 100px 10px 50px ;
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 1fr); 
}
.freequote .txt form input{
    width: 250px;
    height: 50px;
    padding: 0px 10px 0px 20px;
    border-radius: 10px;
    background-color: white;
    border: none; 
    font-size: 16px;
}
.freequote .txt form select{
    grid-column-start: 2;
    grid-column-end: 3;
    height: 50px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: white;  
    border: none;
    font-size: 16px; 
    color: #9B9B9B;
}
.freequote .txt form textarea{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50px;
    padding: 10px 0px 0px 20px;
    border-radius: 10px;
    background-color: white;  
    border: none; 
    font-size: 16px; 
}
.freequote .txt form button{
    background-color: #32C36C;;
    color: white;
    padding: 5px 30px ;
    border-radius: 30px;
    border: none;
    width: 50%;
    margin: 5px 0px 5px 0px;
    font-weight: 500;
    font-size: 16px;
}
@media screen and (min-width:100px) and (max-width:480px){
    .freequote{
        display: grid;
    }
    .freequote img{
        width: 50%;
        height: 400px;
        padding-left: 20px;
    }
    .freequote .txt{
        width: 55%;
        padding-top: 30px;
    }
    .freequote .txt h4{
        margin-top: 10px;
        padding: 10px 20px;
    }
    .freequote .txt h2{
        font-size: 28px;
        padding: 10px 20px;
    }
    .freequote .txt p{
        padding: 10px 20px;
        width: 100%;
    }
    .freequote .txt form{
        display: block;
        padding: 10px 20px;
    }
    .freequote .txt form input{
        display: block;
        margin: 10px 0px;
        width: 55%;
    }
    .freequote .txt form select{
        display: block;
        margin: 10px 0px;
        width: 60%;
    }
    .freequote .txt form textarea{
        display: block;
        margin: 10px 0px;
        width: 57%;
    }
    .freequote .txt form button{
        display: block;
        margin: 20px 0px;
        width: 20%;
        padding: 15px 30px ;
    }

}
