*{
    font-family: sans-serif;
}

.top-nav{
    color: #7A7A7A;
    display: flex;
    gap: 20px;
    font-size: small;
    font-weight: 500;
}

#nav{
    display: flex;
    justify-content: space-evenly;
}
.logo{
    font-weight: 600;
    letter-spacing: 2px;
    font-size: xx-large;
    padding-top: 30px;
}

#nav>a{
    padding-top: 31px;
    text-decoration: none;
    font-size: medium;  
}
#nav>a:hover{
    color: rgb(243, 85, 37);
}

#nav .icon-btn{
    background-color: black;
    color: white;
    padding: 12px;
    font-size: small;
    font-weight: bold;
    margin: 10px ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.row1{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid black;  */
    margin: 120px;
}
 
.row1>img{
    padding-left: 55px;
    width: 350px;
    height: 100%;  
}
.row1 .column2{
    width: 350px;
}
.column2>h5{
    color: rgb(243, 85, 37);
    font-size: 15px;
}
.column2>p{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
}
.column2 .faq{
    /* border: 1px solid black; */
    margin-top: 80px;
    margin-right: 20px ;
    padding: 5px 16px 5px 16px ;
    border-radius: 10px;
    background-color: #fafafa;
}
.column2 .faq .question{
    color: #F35525;
}

.row1 .column3{
    width: 210px;
    border-radius: 10px;
    padding-left: 50px;
    /* background-color: #7A7A7A; */
}
.row1 .column3 ul li {
    display: block;
    /* margin-bottom: 20px; */
    /* padding-bottom: 10px; */
}

.row2{
    position: relative;
    /* height: 700px; */
}

.row2 .row2blur{
    position: relative;
    text-align: center;
    color: white;

}
.row2 .row2blur img{
    width: 100%;
    height: 550px;
    -webkit-filter: blur(6px);
    filter: blur(6px);
}
.row2 .centered{
    position: absolute;
    bottom: 250px;
    left: 40%;
}

.row2 .centered>h5{
    font-weight: bold; 
    font-size: 20px; 
    color: red;
}
.row2 .centered p{
    font-weight: bold; 
    font-size: 40px;    
}
.row2 .inside-image img{
    width: 70%;
    height: 400px;
    margin-left: 200px;
    position: absolute;
    top: 350px;
}

.row2 .three-div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 250px;
}

.row2 .three-div .button{
    background-color: #FFEEE9;
    color: black;
    font-weight: bold;
    font-size: medium;
    /* padding-left: 80px; */
    padding-right: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.row2 .three-div .button .num{
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    color: #F35525;
    padding-left: 20px;
}
.three-div .button p{
margin: 0px;
}

.row3{
    display: grid;
    grid-template-rows: 200px 500px;
    border: 1px solid black;
    margin: 30px 100px 30px 100px;
}

.row3 .best-deals-row2{
    display: flex;
}
 
/* .row3 .best-deals{
    display: flex;
    border: 1px solid black;
    /* grid-row-start: 2;
    grid-row-end: 3; 
    width: 400px;
    padding: 25px;
    border-radius: 10px;
} */

.row3 .best-deals-row2{
    grid-template-columns: 350px 550px 210px;
}
.row3 img{
    padding-left: 55px;
    width: 550px;
    height: 450px;
    text-align: center;    
}
.row4>h5{
    text-align: center; 
    font-weight: bold; 
    font-size: 15px; 
    color: red;
}

.row4>p{
    text-align: center; 
    font-weight: bold; 
    font-size: 40px; 
}


.row4-1{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-top: 10px;
}
.card{
    background-color: #FAFAFA;
    border-radius: 10px;
    /* border: 1px solid black;  */
    width: 350px; 
    height: 550px; 
    padding: 30px;
}

.card-image{
    height: 50%; 
    width: 100%;
    border-radius: 10px;
}

.card-detail{
    display: flex; 
    justify-content: space-between; 
    font-weight: 600;
    font-size: large; 
}

.luxury-villa{
    background-color: rgb(251, 217, 207); 
    border-radius: 10px;
    color: black; 
    padding: 12px;
    font-size: small;
}

.price{
    color: red; 
    padding: 5px;
}

.villa-detail{
    display: grid; 
    grid-template-columns: 35% 35% 30%;
   
}
.villa-detail p{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: small;
}

.btn{
    background-color: black; 
    color: white; 
    padding: 12px; 
    font-weight: 600; 
    margin-top: 20px; 
    margin-left: 35%; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.row5{
    margin-top: 100px;
    position: relative;
}
.row5 .blurimage{
    position: relative;
    text-align: center;
    color: white;
}

.row5 .blurimage img{
    width: 100%;
    height: 550px;
    -webkit-filter: blur(6px);
    filter: blur(6px);
}
.row5 .centered{
    position: absolute;
    bottom: 290px;
    left: 40%;
}
.row5 .centered>h5{
    font-weight: bold; 
    font-size: 20px; 
    color: red;
    margin-bottom: 10px;
}
.row5 .centered p{
    font-weight: bold; 
    font-size: 40px; 
    margin-top: 10px;   
}

.row5 .row-half{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px 100px;
    position: absolute;
    top: 300px;
}

.row5 .col1{
    margin-left: 50px;
}

.row5 .map{
    width: 630px;
    height: 500px;
}

.row5 .col1 .contact{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;   
}

.contact .phone{
    width: 280px;
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F6F6F6;
    padding: 10px;
}
.contact .phone img{
    width: 50px; 
    height: 50px; 
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    /*padding-bottom: 10px; */
}


.row5 .form{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 400px;
    height: 550px;
    padding: 50px ;
    margin-left: 80px;
    /* position: absolute;
    top: 380px; */
    
}
.row5 .form input{
    margin: 20px 20px 20px 0px;
    width: 350px;
    height: 35px;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F6F6F6;
    border: none; 
}

.row5 .form textarea{
    margin: 20px 20px 20px 0;
    width: 350px;
    height: 150px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #F6F6F6;  
    border: none; 
}

.row5 .form button{
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.row5{
    margin-top: 100px;
    position: relative;
}
.row5 .blurimage{
    position: relative;
    text-align: center;
    color: white;
}

.row5 .blurimage img{
    width: 100%;
    height: 550px;
    -webkit-filter: blur(6px);
    filter: blur(6px);
}
.row5 .centered{
    position: absolute;
    bottom: 290px;
    left: 40%;
}
.row5 .centered>h5{
    font-weight: bold; 
    font-size: 20px; 
    color: red;
    margin-bottom: 10px;
}
.row5 .centered p{
    font-weight: bold; 
    font-size: 40px; 
    margin-top: 10px;   
}

.row5 .row-half{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px 100px;
    position: absolute;
    top: 300px;
}

.row5 .col1{
    margin-left: 50px;
}

.row5 .map{
    width: 630px;
    height: 500px;
}

.row5 .col1 .contact{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;   
}

.contact .phone{
    width: 280px;
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F6F6F6;
    padding: 10px;
}
.contact .phone img{
    width: 50px; 
    height: 50px; 
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    /*padding-bottom: 10px; */
}


.row5 .form{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 400px;
    height: 550px;
    padding: 50px ;
    margin-left: 80px;
    /* position: absolute;
    top: 380px; */
    
}
.row5 .form input{
    margin: 20px 20px 20px 0px;
    width: 350px;
    height: 35px;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F6F6F6;
    border: none; 
}

.row5 .form textarea{
    margin: 20px 20px 20px 0;
    width: 350px;
    height: 150px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #F6F6F6;  
    border: none; 
}

.row5 .form button{
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
              
        .row5{
            margin-top: 100px;
            position: relative;
        }
        .row5 .blurimage{
            position: relative;
            text-align: center;
            color: white;
        }

        .row5 .blurimage img{
            width: 100%;
            height: 550px;
            -webkit-filter: blur(6px);
            filter: blur(6px);
        }
        .row5 .centered{
            position: absolute;
            bottom: 290px;
            left: 40%;
        }
        .row5 .centered>h5{
            font-weight: bold; 
            font-size: 20px; 
            color: red;
            margin-bottom: 10px;
        }
        .row5 .centered p{
            font-weight: bold; 
            font-size: 40px; 
            margin-top: 10px;   
        }

        .row5 .row-half{
            display: grid;
            grid-template-columns: 50% 50%;
            margin: 0px 100px;
            position: absolute;
            top: 300px;
        }

        .row5 .col1{
            margin-left: 50px;
        }

        .row5 .map{
            width: 630px;
            height: 500px;
        }

        .row5 .col1 .contact{
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 60px;   
        }
        
        .contact .phone{
            width: 280px;
            border-radius: 10px;
            grid-template-columns: repeat(2, 1fr);
            background-color: #F6F6F6;
            padding: 10px;
        }
        .contact .phone img{
            width: 50px; 
            height: 50px; 
            float: left;
            padding-top: 15px;
            padding-left: 20px;
            /*padding-bottom: 10px; */
        }


        .row5 .form{
            border: 1px solid black;
            border-radius: 10px;
            background-color: #FFFFFF;
            width: 400px;
            height: 550px;
            padding: 50px ;
            margin-left: 80px;
            /* position: absolute;
            top: 380px; */
            
        }
        .row5 .form input{
            margin: 20px 20px 20px 0px;
            width: 350px;
            height: 35px;
            padding-left: 20px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: #F6F6F6;
            border: none; 
        }

        .row5 .form textarea{
            margin: 20px 20px 20px 0;
            width: 350px;
            height: 150px;
            padding-left: 20px;
            border-radius: 10px;
            background-color: #F6F6F6;  
            border: none; 
        }

        .row5 .form button{
            background-color: black;
            color: white;
            font-weight: 500;
            padding: 10px 20px 10px 20px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }


#footer{
    margin-top: 500px;  
}

#footer .cpyright{
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
}