*{
    font-family: sans-serif;
}

.top-nav{
    color: #7A7A7A;
    display: grid;
    gap: 20px;
    grid-template-columns: 50% 50%;
    font-size: small;
    font-weight: 500;
    border-bottom: 1px solid gray;
    padding-top: 10px;
}
.top-nav .col-1{
    display: flex;
    text-align: left;
    padding-left: 100px;
}
.top-nav .col-1>p{
    padding-right: 20px;
    padding-bottom: 8px;
    font-size: 15px;
}
.top-nav .col-1 p>i{
    font-size: 20px;
    color: red;
}
.top-nav .col-2{
    /* display: flex; */
    text-align: right;
    margin-right: 130px;
}
.top-nav .col-2>i{
    font-size: 25px;
    padding-top: 9px;
    margin-right: 5px;
}
     
.nav{
    display: grid;
    gap: 20px;
    grid-template-columns: 40% 40% 20%;
    justify-content: space-evenly; 
    padding-top: 25px;
    padding-bottom: 20px;
}
.nav .logo{
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 30px;
    text-align: left;
    padding-left: 100px;
    padding-top: 4px;
}
.nav .quick-links{
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-right: 130px;
}
.nav .quick-links>a{
    padding-top: 10px;
    text-decoration: none;
    font-size: medium;  
    color: black;
    font-weight: 500;
}
.nav .quick-links>a:hover{
    color: rgb(243, 85, 37);
}
.nav .quick-links .active{
    color: red;
}
.nav .schedule-btn{
    background-color: black;
    color: white;
    border-radius: 20px;
    display: flex;
    width: 180px;
}
.nav .schedule-btn .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(243, 85, 37);
}
.nav .schedule-btn .icon>i{
    padding-left: 12px;
    padding-top: 10px;
}
.nav .schedule-btn .icon-btn{
    padding-top: 10px;
    padding-left: 10px;
}
@media screen and (min-width:50px) and (max-width:480px){
    .nav{
        display: flex;
    }
}

.hero-image{
    background-image: url("listing.avif");
    background-size: cover;
    height: 800px;
    width: 100%; 
    margin-top: 10px;
}
.hero-image .image-text{
    padding-left: 300px;
    padding-top: 200px;
}
.hero-image .image-text>button{
    border: none;
    background-color: white;
    color: black;
    padding: 12px;
    font-size: 16px;
}
.hero-image .image-text span{
    color: red;
}
.hero-image .image-text>h1{
    color: white;
    font-size: 60px;
}

.row1{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid black;  */
    margin: 120px;
    position: relative; 
}
.row1>img{
    padding-left: 55px;
    width: 350px;
    height: 100%; 
}
.row1 .iconimg{
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    background-color: rgb(243, 85, 37);
    position: absolute;
    left: 2px;
    bottom: -40px;
} 
.row1 .iconimg img{
    color: black;
    position: absolute;
    left: 30px;
    bottom: 20px;
}
.row1 .column2{
    width: 500px;
}
.column2>h5{
    color: rgb(243, 85, 37);
    font-size: 18px;
    margin-top: 0px;
}
.column2>p{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
}
.column2 .faq{
    margin-top: 80px;
    margin-right: 20px ;
    padding: 5px 16px 5px 16px ;
    border-radius: 10px;
    background-color: #fafafa;   
}
.column2 .faq .question{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(160, 160, 160);
}
.column2 .faq .active{
    color: rgb(243, 85, 37);
}
.row1 .column3{
    width: 290px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.row1 .column3 .div1{
    display: flex; 
    margin-top: 15px;
    margin-bottom: 15px;
}
.row1 .column3 .div1>img{
    padding-left: 50px;
    margin-top: 20px;
    height: 95%;
}
.row1 .column3  .div1 .imgdetail{
    display: block;
    padding-left: 30px;
}
.row1 .column3  .div1 .imgdetail>h2{
    margin-bottom: 5px;
}
.row1 .column3 .div1 .imgdetail>h5{
    margin-top: 0px;
    color: rgb(175, 173, 173);
}

.row2{
    position: relative;
    /* height: 700px; */
}
.row2 .row2blur{
    position: relative;
    text-align: center;
    color: white;

}
.row2 .row2blur img{
    width: 100%;
    height: 550px;
    -webkit-filter: blur(6px);
    filter: blur(8px);
}
.row2 .centered{
    position: absolute;
    bottom: 250px;
    left: 40%;
}
.row2 .centered>h5{
    font-weight: bold; 
    font-size: 20px; 
    color: red;
}
.row2 .centered p{
    font-weight: bold; 
    font-size: 40px;    
}
.row2 .inside-image img{
    width: 70%;
    height: 400px;
    margin-left: 200px;
    position: absolute;
    top: 350px;
    border-radius: 10px;
}
.row2 .three-div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 250px;
}
.row2 .three-div .button{
    background-color: #FFEEE9;
    color: black;
    font-weight: bold;
    font-size: medium;
    padding-right: 20px;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    position: relative;
}
.row2 .three-div .button .circle{
    background-color: #F35525;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -15px;
    width: 50px;
    height: 50px;
}
.row2 .three-div .button .num{
    float: left;
    font-size: 45px;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    color: #F35525;
    padding-left: 20px;
}
.three-div .button p{
    display: flex;
    padding-top: 20px;
    margin: 0px;
}

.row3{
    /* margin: 30px 100px 30px 100px; */
    background-color: #FAFAFA;
    padding: 20px 0px 50px 0px;
}
.row3 .const-1{
    display: flex;
    justify-content: space-between;
    margin: 30px 100px 30px 100px;
}
.row3 .const-1 .bestdeal>h5{
    font-weight: bold; 
    font-size: 15px; 
    color: red;
}
.row3 .const-1 .bestdeal>p{
    margin-top: 4px;
    font-weight: bold; 
    font-size: 40px; 
}
.row3 .const-1 .buttons{
    margin-top: 100px;
}
.row3 .const-1 .buttons .appart{
    background-color: rgb(243, 85, 37);
    color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 3px;
}
.row3 .const-1 .buttons .black{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 3px;
}
.row3 .const-2{
    display: flex;
    justify-content: space-between;
    margin: 30px 100px 30px 100px;
}
.row3 .const-2 .col1{
    width: 300px;
    height: 380px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.row3 .const-2 .col1 .detail{
    display: flex;
    justify-content: space-between;
}
.row3 .const-2 .col1 .detail>p{
    padding-left: 30px;
    padding-top: 10px;
    margin-top: 16px;
    color: #AAAAAA;
}
.row3 .const-2 .col1 .detail>h3{
    padding-right: 20px;
}
.row3 .const-2 .col2>img{
    width: 550px;
    height: 400px;
}
.row3 .const-2 .col3{
    width: 300px;
    height: 380px ;
}
.row3 .const-2 .col3>h3{
    margin-top: 0px;
    padding-top: 0px;
}
.row3 .const-2 .col3>p{
    line-height: 22pt;
}
.row3 .const-2 .col3 .schedule-btn{
    background-color: black;
    color: white;
    border-radius: 20px;
    display: flex;
    width: 180px;
}
.row3 .const-2 .col3 .schedule-btn .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(243, 85, 37);
}
.row3 .const-2 .col3 .schedule-btn .icon>i{
    padding-left: 12px;
    padding-top: 10px;
}
.row3 .const-2 .col3 .schedule-btn .icon-btn{
    padding-top: 10px;
    padding-left: 10px;
}

.row4>h5{
    text-align: center; 
    font-weight: bold; 
    font-size: 15px; 
    color: red;
}
.row4>p{
    text-align: center; 
    font-weight: bold; 
    font-size: 40px; 
}
.row4-1{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 25px;
}
.card{
    background-color: #FAFAFA;
    border-radius: 10px;
    width: 350px; 
    height: 550px; 
    padding: 30px;
}
.card-image{
    height: 50%; 
    width: 100%;
    border-radius: 10px;
}
.card-detail{
    display: flex; 
    justify-content: space-between; 
    font-weight: 600;
    font-size: large; 
}
.luxury-villa{
    background-color: rgb(251, 217, 207); 
    border-radius: 10px;
    color: black; 
    padding: 12px;
    font-size: small;
}
.price{
    color: red; 
    padding: 5px;
}
.villa-detail{
    display: grid; 
    grid-template-columns: 35% 35% 30%;
   
}
.villa-detail p{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: small;
}
.btn{
    background-color: black; 
    color: white; 
    padding: 12px; 
    font-weight: 600; 
    margin-top: 20px; 
    margin-left: 35%; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.row5{
    margin-top: 100px;
    position: relative;
}
.row5 .blurimage{
    position: relative;
    text-align: center;
    color: white;
}
.row5 .blurimage img{
    width: 100%;
    height: 550px;
    -webkit-filter: blur(6px);
    filter: blur(6px);
}
.row5 .centered{
    position: absolute;
    bottom: 290px;
    left: 40%;
}
.row5 .centered>h5{
    font-weight: bold; 
    font-size: 20px; 
    color: red;
    margin-bottom: 10px;
}
.row5 .centered p{
    font-weight: bold; 
    font-size: 40px; 
    margin-top: 10px;   
}
.row5 .row-half{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px 100px;
    position: absolute;
    top: 300px;
}
.row5 .col1{
    margin-left: 50px;
}
.row5 .map{
    width: 630px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.row5 .col1 .contact{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;   
}
.contact .phone{
    width: 250px;
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F6F6F6;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contact .phone i{
    font-size: 40px;
    width: 50px; 
    height: 50px; 
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    /*padding-bottom: 10px; */
}
.row5 .form{
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 400px;
    height: 550px;
    padding: 50px ;
    margin-left: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.row5 .form input{
    margin: 20px 20px 20px 0px;
    width: 350px;
    height: 35px;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F6F6F6;
    border: none; 
}
.row5 .form textarea{
    margin: 20px 20px 20px 0;
    width: 350px;
    height: 150px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #F6F6F6;  
    border: none; 
}
.row5 .form button{
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#footer{
    margin-top: 500px;  
}
#footer .cpyright{
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
}