.nav{
    display: flex; 
    justify-content: space-evenly; 
    height: 40px; 
    padding-top: 10px;
}
.nav>a{
    text-decoration: none;
}


.hero-image{
    background-image:url(https://c0.wallpaperflare.com/preview/18/442/539/apple-device-computer-dark-electronics-thumbnail.jpg) ;
    width: 100%;
    height: 700px;
    background-size: cover;
    position: relative;
}
.hero-image .image-text{
    position: absolute;
    bottom:300px ;
    left: 50px;
    color: white;
}

.hero-image .image-text>h1{
    font-size: 60px;
    font-weight: 500;
    font-family: sans-serif;
}

.hero-image .image-text>p{
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
}

.hero-image .image-text>button{
    margin-top: 8px;
    padding: 8px;
    font-family: sans-serif;
}
.row1{
    margin: 150px 50px 100px 50px ;
    height: 400px;
}
.row1>h2{
    text-align: center;
}
.row1>p{
    text-align: center;
}

.row1 .company{
    display: grid;
    grid-template-columns: repeat(4,2fr);   
    text-align: center;
    margin-top: 80px;
}

.company .company-card{
   width: 300px;
}
.row1 .company .company-card>i{
    font-size: 60px;
}

.row1 .company .company-card>p{
    font-size: 16px;
}


.row2{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F1F1F1;
    padding: 50px 10px 50px 10px;
    height: 600px;
}
.row2 .col-1{
    padding:  100px 50px 100px 50px;
}
.row2 .col-1>h3{
    font-size: 30px;
    margin-bottom: 10px;
}

.row2 .col-1>p{
    font-size: 17px;
    margin-bottom: 10px;
    padding-right: 50px;
}
.row2 .col-1>button{
    background-color: black;
    color: white;
    padding: 10px;
}

.row2 .col-2{
    padding:  100px 50px 100px 50px;
}

.row3{
    margin: 150px 50px 100px 50px ;
}
.row3>h2{
    text-align: center;
}
.row3>p{
    text-align: center;
}

.row3 .card-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.row3 .card-row .card{
    width: 300px;
    height: 400px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #FFFFFF;
}
.card-row .card>img{
    width: 100%;
}
.card-row .card>button{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.row4{
    background-color: #616161;
    margin-bottom: 100px;
}
.row4 .num{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.row4 .num .detail{
    padding: 50px;
    color: white;
    text-align: center;
}

.row4 .num .detail>h2{
    font-size: 30px;
}

.row5{
    margin: 150px 50px 150px 50px;
}
.row5>h3{
    text-align: center;
}
.row5>p{
    text-align: center;
    padding-bottom: 30px;
}
.row5 .row-1{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4,2fr);
    margin-bottom: 15px;
}

.row5 .row-1>img{
    width: 100%;
}

.row6{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F1F1F1;
    height: 400px;
}
.row6 .col-1{
    padding: 50px;
}

.row6 .col-2{
    padding:  50px 50px 50px 50px;
    letter-spacing: 2px;
}
.row6 .col-2>input[type="text"]{
    background-color: #616161;
    text-align: center;
    border: none;
    width: 100%;
    padding: 5px;
}
.row7{
    margin-top: 80px;
    background-color: #F1F1F1;
}

.row7>h2{
    padding-top: 100px;
    text-align: center;
}

.row7>p{
    font-size: 18px;
    text-align: center;
}

.row7 .contact{
    margin-top: 40px;
}
.row7 .contact>p{
    padding-left: 10px;
}

.row7 .contact p>i{
    font-size: 25px;
    padding: 10px;
}

.row7 form{
    margin-top: 30px;
}

.row7 form>input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 10px;
}
.row7 form>input[type="email"]{
    width: 100%;
    padding: 10px;
    margin: 10px;
}
.row7 form>button{
    background-color: black;
    color: white;
    padding: 12px;
    margin: 10px;
    border: none;
}

.row7 form>button:hover{
    background-color: #616161;
}
.row7 img{
    margin-top: 30px;
    margin-bottom: 60px;
}

.footer{
    height: 250px;
    width: 100%;
    color: white;
    background-color: black;
}
.footer>button{
    margin-left: 47%;
    margin-top: 50px;
    padding: 10px;
}
.footer .icons{
    margin-left: 45%;
    margin-top: 20px;
    font-size: x-large;
}
.footer>p{
    padding-top:10px ;
    text-align: center;
}
.footer p>a{
    color: white;
}